.btn {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}
